span.place-name {
    display: inline-block;
    width: 60%;
}

form.visited-form {
    display: inline;
}

div.wishlist-place {
    margin: 20px;
}

label {
    display: inline-block;
    padding-right: 10px;
}

a.nav-link {
    margin-right: 15px;
}

#add-new-place {
    background-color: rgb(135, 137, 250);
    border: rgb(173, 179, 230);
}


