{% extends 'travel_wishlist/base.html' %}
{% load static %}
{% block content %}

<h2> {{ place.name }} </h2>

{% if place.visited %}


    <p> You have visited {{ place.name }}</p>

    <h3> Notes </h3>
    {{ place.notes | default: "No Notes." }}

    <h3> Date Visited </h3>
    
    <p> {{place.date_visited | default: "Date visited not set "}}</p>

    <h3> Photo </h3>
        <img src="{{ place.photo.url}}">
    

{% else %}
    <P> You have not visited {{ place.name }}</P>

    <form action="{% url 'place_was_visited' place.pk" %} method="POST"> </form>
        {% csrf_token %}
        <button type="submit" class="visited">Visited! </button>
    </form>


{% endif }

<form action="{% url 'delete_place' place.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="delete">Delete </button>

</form>

<script src="{% static 'js/confirm_delete.js' %}"></script>


{% endblock %}

